body {
    color: grey;
    background: url(background.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
}

.header h1 {
    color: rgb(217, 210, 210);
}

.form-control:focus {
    border: 2px solid black;
    box-shadow: none;
}

.errorBox,
.errorBox:focus {
    border: 3px solid red;
    box-shadow: red;
}

.form {
    background-color: rgba(67, 65, 65, 0.526);
}